<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Start</a></li>
            		<li><a href="/aktualnosci">Aktualności</a></li>
        		<li><a href="/cv">CV</a></li>
          		<li><a href="/dydaktyka">Dydaktyka</a></li>
        		<li><a href="/kontakt">Kontakt</a></li>
    		</ul>
		</nav>
    

 		<div id="wrap">

  		<h3 id='title'>{{ site.name }}</h3>

  		{{ content }}		

  		</div>

	</body>
</html>
